In [1]:
import sqlite3
from config.default_cfg import Config

In [4]:
cfg = Config()

In [6]:
db_name = cfg.db
db_name

'D:\\PROJECT\\store_activity_recognition/db/store_data.db'

In [3]:

koneksi = sqlite3.connect('analytic.db')
cursor = koneksi.cursor()
print("Database telah dibuat dan berhasil terkoneksi ke SQLite")

Database telah dibuat dan berhasil terkoneksi ke SQLite

In [4]:
# bagian membuat tabel
buat_tabel = '''CREATE TABLE IF NOT EXISTS ANALITIK (
                        hasil TEXT);'''

cursor.execute(buat_tabel)
koneksi.commit()

In [7]:
# input 1 data
result = ("{'region1': [3, 26], 'region2': [3, 26], 'region3': [3, 26], 'region4': [3, 26]}")
cursor.execute("INSERT INTO ANALITIK VALUES(?);", result)
koneksi.commit()

OperationalError: table ANALITIK has 1 columns but 4 values were supplied